/* Estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card Set */
.card-set {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%; /* 80% del ancho del contenedor */
}

/* Card */
.card {
    display: flex;
    flex-direction: column;
    width: 200px; /* Ancho fijo para todas las tarjetas */
    height: auto; /* El alto será determinado por el contenido */
    background-color: rgba(193, 219, 210, 1.00);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* Altura fija para la barra de título */
    background-color: rgba(123, 198, 199, 0.8);
}

.header h2 {
    font-size: 1.2em;
    color: white;
}

/* Body */
.body {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    color: #333;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; /* Altura fija para la barra de pie */
    background-color: rgba(123, 198, 199, 0.8);
}

.footer h4 {
    font-size: 1em;
    color: white;
}
