* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 1px; /* Espaciado entre celdas */
    background-color: #000; /* Para que el gap de 1px se vea bien */
}

.cell {
    background-color: #7bC6C7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    min-width: 100px;
    min-height: 50px;
}
